@import url("https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #f6f6f6;
  color: #0b0b0b;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

button {
  font-family: "DM Sans", sans-serif;
}

.hero-section {
  font-family: "Petrona", serif;
  color: #141b34;
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --color-button-green: #e9ffb7;
  --color-heading: #141b34;
  --color-black-50: #0b0b0b;
  --color-text: #575757;
  --color-yellow-50: #bc9c24;
  --color-red-50: #a60606;
  --color-blue-50: #d0e2ec;
  --color-gray-50: #eceaea;
  --color-white-50: #f6f6f6;
  --font-500: 500;
  --text-xxs: 10px;
  --font-petrona: "Petrona", serif;
}

@layer components {
  .navbar {
    @apply fixed w-full left-1/2 py-5 px-5 md:px-10 lg:px-20 -translate-x-1/2 z-[50] transition-all duration-300 ease-in-out;

    &.scrolled {
      @apply top-0 bg-white/20 backdrop-blur-md;
    }

    &.not-scrolled {
      @apply md:top-5 top-0 bg-transparent;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-white-50 text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
    }

    nav.desktop {
      @apply hidden lg:flex items-center;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-black-50 relative;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }

    .contact-btn {
      @apply flex;

      .inner {
        @apply px-5 py-2 rounded-lg bg-button-green text-black group-hover:bg-button-green/50 transition-colors duration-300;

        span {
          @apply transition-colors duration-300;
        }
      }
    }
  }

  section {
    @apply w-dvw px-8 lg:px-20;
  }
}
